/* 
    Document   : StylePhixx
    Created on : 14-Apr-2013, 9:38:56 PM
    Author     : Vinni
    Description:
        Purpose of the stylesheet follows.
*/

body {
background: url(http://webdesign4.georgianc.on.ca/~200210636/planet.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#login {
    margin: 0 0 0 0;
    border: black 2px solid;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 150px;
    left: 50px;
    background: white;
}

#signup {
    border: black 2px solid;
    width: 300px;
}


